html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #086972;
  font-size: 1.6rem;
}

h1 {
  text-align: center;
  font-family: "Staatliches", cursive;
  color: white;
  font-size: 4rem;
}
h2 {
}
h3 {
  font-family: "Staatliches", cursive;
  color: #086972;
  font-size: 2.4rem;
}
.btn {
  font-size: 1.4rem;
}
.fecha-alta {
  font-family: "Staatliches", cursive;
  color: #086972;
  font-weight: bold;
  font-size: 2rem;
}
.contacto p {
  font-size: 1.2rem;
  margin: 0;
}
.list-group-item:hover {
  background: white;
}
form {
  border-radius: 0.3rem;
}

span {
  font-weight: bold;
  text-transform: uppercase;
}
